.container {
    width: 100%;
}

.postCard{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin-top: 1.2rem;
}

.postCard > div {
    background-color: coral;
    min-height: 150px;
    vertical-align: center;
}